.btn-violet{
    color:#fff;
    background-color:#7A00BF;
    border-color:#7A00BF;
}

.btn-violet:hover{
    color:#fff;
    background-color:#540083;
    border-color:#7A00BF;
}

.btn-violet.focus,.btn-violet:focus{
    -webkit-box-shadow:0 0 0 2px rgba(2,117,216,.5);
    box-shadow:0 0 0 2px rgba(2,117,216,.5);
}

.btn-violet.disabled,.btn-violet:disabled{
    background-color:#7A00BF;
    border-color:#7A00BF;
}
.btn-violet.active,.btn-violet:active,.show>.btn-violet.dropdown-toggle{
    color:#fff;
    background-color:#540083;
    background-image:none;
    border-color:#7A00BF;
}
